@import url(http://fonts.googleapis.com/css?family=Hind:400,600,300);
/* -------------------------------------------------------- */
/*           SCSS SCHEME . IMPORTING ALL STYLES             */
/*            13.08.2014     @Tobias Wöstmann               */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*        RESET . JUST DELETE SHITI BROWSER THINGS          */
/*            13.08.2014     @Tobias Wöstmann               */
/* -------------------------------------------------------- */
/* line 6, D:/#HTML/baseTemp/build/scss/reset */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, D:/#HTML/baseTemp/build/scss/reset */
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 9, D:/#HTML/baseTemp/build/scss/reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, main, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0; }

/* line 11, D:/#HTML/baseTemp/build/scss/reset */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

/* line 13, D:/#HTML/baseTemp/build/scss/reset */
article, aside, figure, figcaption, footer, header, nav, section, main {
  display: block; }

/* line 15, D:/#HTML/baseTemp/build/scss/reset */
a, :focus {
  outline: 0; }

/* line 16, D:/#HTML/baseTemp/build/scss/reset */
a {
  text-decoration: none; }

/* line 17, D:/#HTML/baseTemp/build/scss/reset */
a img {
  border: 0 none; }

/* line 19, D:/#HTML/baseTemp/build/scss/reset */
ul {
  list-style: square outside; }
  /* line 21, D:/#HTML/baseTemp/build/scss/reset */
  ul ul {
    margin-bottom: 0; }

/* line 26, D:/#HTML/baseTemp/build/scss/reset */
ol {
  list-style: decimal outside; }
  /* line 28, D:/#HTML/baseTemp/build/scss/reset */
  ol ol ol {
    margin-bottom: 0; }

/* -------------------------------------------------------- */
/*        CONFIG DATA . FONTS, GENERALS and VARIABLES       */
/*            12.03.2015     @Tobias Wöstmann               */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*                 COLORSCHEME, DO IT!                      */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*                 LETS ROCK THE FONTS                      */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*                FAIHTFULLY STYLE MIXINS                   */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*               FAIHTFULLY POSITION MIXINS                 */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*       SYMBOLES . SYMBOLS FROM FONTELLO FOR ICONS         */
/*            15.08.2014     @Tobias Wöstmann               */
/* -------------------------------------------------------- */
@font-face {
  font-family: 'symbols';
  src: url('../font/symbols.eot?38570642');
  src: url('../font/symbols.eot?38570642#iefix') format('embedded-opentype'), url('../font/symbols.woff?38570642') format('woff'), url('../font/symbols.ttf?38570642') format('truetype'), url('../font/symbols.svg?38570642#symbols') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 17, D:/#HTML/baseTemp/build/scss/symbols */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em; }

/* line 33, D:/#HTML/baseTemp/build/scss/symbols */
.icon-twitter-circled:before {
  content: '\e800'; }

/* '' */
/* line 34, D:/#HTML/baseTemp/build/scss/symbols */
.icon-gplus-circled:before {
  content: '\e801'; }

/* '' */
/* line 35, D:/#HTML/baseTemp/build/scss/symbols */
.icon-facebook-circled:before {
  content: '\e802'; }

/* '' */
/* line 36, D:/#HTML/baseTemp/build/scss/symbols */
.icon-search:before {
  content: '\e803'; }

/* '' */
/* -------------------------------------------------------- */
/*           BASE . THE BASEMENT OF YOUR STYLE              */
/*            13.08.2014     @Tobias Wöstmann               */
/* -------------------------------------------------------- */
/* line 6, D:/#HTML/baseTemp/build/scss/base */
body {
  background: #FFF; }

/* -------------------------------------------------------- */
/*                     FONT BASEMENT                        */
/* -------------------------------------------------------- */
/* line 14, D:/#HTML/baseTemp/build/scss/base */
html {
  font-size: 19px;
  color: #FFF;
  font-family: 'Hind', Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0.3px; }

/* line 23, D:/#HTML/baseTemp/build/scss/base */
* {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: inherit; }

/* line 32, D:/#HTML/baseTemp/build/scss/base */
h1 {
  font-size: 19px; }

/* line 35, D:/#HTML/baseTemp/build/scss/base */
h2 {
  font-size: 19px; }

/* line 38, D:/#HTML/baseTemp/build/scss/base */
h3 {
  font-size: 19px; }

/* line 41, D:/#HTML/baseTemp/build/scss/base */
h4 {
  font-size: 19px; }

/* line 44, D:/#HTML/baseTemp/build/scss/base */
h5 {
  font-size: 19px; }

/* line 47, D:/#HTML/baseTemp/build/scss/base */
h6 {
  font-size: 19px; }

/* -------------------------------------------------------- */
/*                  A-TAG / LINK BASEMENT                   */
/* -------------------------------------------------------- */
/* line 55, D:/#HTML/baseTemp/build/scss/base */
a {
  color: #111;
  text-decoration: none; }

/* line 59, D:/#HTML/baseTemp/build/scss/base */
a:hover {
  color: #222; }

/* -------------------------------------------------------- */
/*                    ELEMENT BASEMENT                      */
/* -------------------------------------------------------- */
/* line 67, D:/#HTML/baseTemp/build/scss/base */
strong, b {
  font-weight: bold; }

/* line 70, D:/#HTML/baseTemp/build/scss/base */
small {
  font-size: 0.875em; }

/* line 73, D:/#HTML/baseTemp/build/scss/base */
strike, del {
  text-decoration: line-through; }

/* line 76, D:/#HTML/baseTemp/build/scss/base */
pre, code, kbd, samp {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 0.875em; }

/* line 80, D:/#HTML/baseTemp/build/scss/base */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 85, D:/#HTML/baseTemp/build/scss/base */
blockquote {
  font-style: italic;
  margin-bottom: 1.5em;
  padding: 1.125em 1.5em 1px; }

/* -------------------------------------------------------- */
/*                 INIT THE FRAMEWORK                       */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*             HEADER . STYLES OF THE HEADER                */
/*            13.08.2014     @Tobias Wöstmann               */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*             FOOTER . STYLES OF THE FOOTER                */
/*            13.08.2014     @Tobias Wöstmann               */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*         NAVIGATION . STYLES OF THE NAVIGATION            */
/*            13.08.2014     @Tobias Wöstmann               */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*                   INIT THE SITES                         */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*              INDEX . STYLES OF STARTPAGE                 */
/*            13.08.2014     @Tobias Wöstmann               */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*                 RELEASE THE QUERYS                       */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*       MEDIA QUERY . IMPORT THE STYLES FROM MODULES       */
/*            13.08.2014     @Tobias Wöstmann               */
/* -------------------------------------------------------- */
