/* -------------------------------------------------------- */

/*           SCSS SCHEME . IMPORTING ALL STYLES             */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*        CONFIG DATA . FONTS, GENERALS and VARIABLES       */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*                   SET UP VIEWPORTS                       */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*              GET THE VIEWPORTS AS STRING                 */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*                    GENERATE GRIDS                        */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*                 COLORSCHEME, DO IT!                      */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*               GET FONT AND SET REM FUNCTION              */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*                      FONTCONFIGS                         */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*                  Z-INDEX LEVEL RANKING                   */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*                FAIHTFULLY STYLE MIXINS                   */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*        RESET . JUST DELETE SHITI BROWSER THINGS          */

/* -------------------------------------------------------- */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
button,
p,
input,
textarea,
hr,
svg,
blockquote,
main,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video { /* ADD THE BASE, DELETE SHITI BROWSER STYLES  */
	background: transparent;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
	line-height: inherit;
	font-weight: inherit;
	letter-spacing: inherit; /* DELETE MOBILE TAP HIGHLIGHING */
	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color: transparent; /* SET THE RIGHT BORDER BOXES  */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html:before,
html:after,
body:before,
body:after,
div:before,
div:after,
span:before,
span:after,
object:before,
object:after,
iframe:before,
iframe:after,
h1:before,
h1:after,
h2:before,
h2:after,
h3:before,
h3:after,
h4:before,
h4:after,
h5:before,
h5:after,
h6:before,
h6:after,
button:before,
button:after,
p:before,
p:after,
input:before,
input:after,
textarea:before,
textarea:after,
hr:before,
hr:after,
svg:before,
svg:after,
blockquote:before,
blockquote:after,
main:before,
main:after,
pre:before,
pre:after,
abbr:before,
abbr:after,
address:before,
address:after,
cite:before,
cite:after,
code:before,
code:after,
del:before,
del:after,
dfn:before,
dfn:after,
em:before,
em:after,
img:before,
img:after,
ins:before,
ins:after,
kbd:before,
kbd:after,
q:before,
q:after,
samp:before,
samp:after,
small:before,
small:after,
strong:before,
strong:after,
sub:before,
sub:after,
sup:before,
sup:after,
var:before,
var:after,
b:before,
b:after,
i:before,
i:after,
dl:before,
dl:after,
dt:before,
dt:after,
dd:before,
dd:after,
ol:before,
ol:after,
ul:before,
ul:after,
li:before,
li:after,
form:before,
form:after,
fieldset:before,
fieldset:after,
label:before,
label:after,
legend:before,
legend:after,
table:before,
table:after,
caption:before,
caption:after,
tbody:before,
tbody:after,
tfoot:before,
tfoot:after,
thead:before,
thead:after,
tr:before,
tr:after,
th:before,
th:after,
td:before,
td:after,
article:before,
article:after,
aside:before,
aside:after,
canvas:before,
canvas:after,
details:before,
details:after,
figcaption:before,
figcaption:after,
figure:before,
figure:after,
footer:before,
footer:after,
header:before,
header:after,
menu:before,
menu:after,
nav:before,
nav:after,
section:before,
section:after,
summary:before,
summary:after,
time:before,
time:after,
mark:before,
mark:after,
audio:before,
audio:after,
video:before,
video:after { /* SET THE RIGHT BORDER BOXES  */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

main,
section,
aside,
footer,
nav,
header { /* Correct `block` display not defined in IE 11.*/
	display: block;
}

html { /* SET THE RIGHT FONT SIZE  */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; /* SET THE SMOOTHING FOR OWN FONTS  */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

/* -------------------------------------------------------- */

/*           UI RESETS - FORMS, CONTROLS, ACTIONS           */

/* -------------------------------------------------------- */

audio,
canvas,
progress,
video { /* Correct `inline-block` display not defined in IE 8/9.*/
	display: inline-block; /* Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.*/
	vertical-align: baseline;
}

audio:not([controls]) { /* Prevent modern browsers from displaying `audio` without controls.*/
	display: none; /* Remove excess height in iOS 5 devices.*/
	height: 0;
}

input,
button,
textarea {
	line-height: normal;
	font-size: inherit;
	color: inherit;
	font-family: inherit; /* DELETE MOBILE BROWSER FORM STANDARDS */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}

input[disabled],
button[disabled],
textarea[disabled] {
	cursor: default;
}

input:focus,
input:active,
button:focus,
button:active,
textarea:focus,
textarea:active {
	outline: none;
}

select {
	line-height: normal;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
}

input[type="reset"],
input[type="submit"] {
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] { /* NOW SET THIS TO TRUE TO SHOW CHECKBOXES */
	-webkit-appearance: checkbox;
	box-sizing: border-box;
	padding: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

/* Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.*/

template {
	display: none;
}

/* -------------------------------------------------------- */

/*              OTHER RESETS - A, SVG, ELEMENTS             */

/* -------------------------------------------------------- */

/* Remove the gray background color from active links in IE 10.*/

a {
	background: transparent;
	text-decoration: none;
}

a:active,
a:hover {
	outline: 0;
}

a img {
	border: 0 none;
}

svg:not(:root) { /* Correct overflow not hidden in IE 9/10/11.*/
	overflow: hidden;
}

textarea { /* NO SCROLLBARS IN IE .*/
	overflow: auto;
	resize: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	list-style: square outside;
}

ol {
	list-style: decimal outside;
}

figure img {
	display: block;
	width: 100%;
}

/* -------------------------------------------------------- */

/*           BASE . THE BASEMENT OF YOUR STYLE              */

/* -------------------------------------------------------- */

body {
	background: #FFF;
	font-size: 0.8125rem; /* Hidden Element to transfer Mediaquerys in JS */
}

body::before {
	display: none;
	content: "w:0px,sw:480px,mw:768px,lw:1000px,";
}

/* -------------------------------------------------------- */

/*                     FONT BASEMENT                        */

/* -------------------------------------------------------- */

html {
	font-size: 16px;
	color: #151515;
	font-family: "Lato", Arial, sans-serif;
	line-height: 1.6;
	font-weight: 400;
	letter-spacing: 0; /* Hidden Element for Old Browsers */
}

html main {
	position: relative;
	margin: 0 auto;
	padding: 0 20px 0;
	width: 100%;
	max-width: 1008px;
	z-index: 100;
	min-height: 10px;
}

html .oldBrowserWarning {
	display: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	display: block;
	padding: 5px 0;
}

h1,
.h1 {
	font-size: 1.5625rem;
}

h2,
.h2 {
	font-size: 1.4375rem;
}

h3,
.h3 {
	font-size: 1.3125rem;
}

h4,
.h4 {
	font-size: 1.1875rem;
}

h5,
.h5 {
	font-size: 1.0625rem;
}

h6,
.h6 {
	font-size: 0.9375rem;
}

/* -------------------------------------------------------- */

/*                  A-TAG / LINK BASEMENT                   */

/* -------------------------------------------------------- */

a,
.link {
	color: #008E74;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

a:hover,
a:active,
.link:hover,
.link:active {
	color: #151515;
}

/* -------------------------------------------------------- */

/*              BUTTON-TAG / BUTTON BASEMENT                */

/* -------------------------------------------------------- */

button,
input[type="button"],
input[type="submit"],
.button {
	display: inline-block;
	background: #989898;
	color: #FFF;
	border: none;
	cursor: pointer;
	padding: 6px 12px;
	margin: 0;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

button:hover,
button:active,
input[type="button"]:hover,
input[type="button"]:active,
input[type="submit"]:hover,
input[type="submit"]:active,
.button:hover,
.button:active {
	background: #a5a5a5;
}

/* -------------------------------------------------------- */

/*              FORM-TAG / INPUT BASEMENT                */

/* -------------------------------------------------------- */

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
	display: inline-block;
	width: 100%;
	background: #FFF;
	color: #151515;
	border: 1px solid #989898;
	padding: 6px 6px;
	margin: 5px 0;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px; /* Error class for baseTemp Formvalidation */
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
textarea:hover {
	background: #f2f2f2;
}

input[type="text"].error,
input[type="password"].error,
input[type="number"].error,
input[type="email"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="url"].error,
textarea.error {
	border: 1px solid #C10D00;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #151515;
}

input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #151515;
	opacity: 1;
}

input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
textarea::-moz-placeholder {
	color: #151515;
	opacity: 1;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #151515;
}

textarea {
	width: 100%;
}

/* -------------------------------------------------------- */

/*                    ELEMENT BASEMENT                      */

/* -------------------------------------------------------- */

p {
	display: block;
	padding: 5px 0;
}

strong,
b {
	font-weight: 700;
}

sup {
	font-size: .875rem;
	vertical-align: super;
	line-height: .875rem;
}

small {
	font-size: .875rem;
}

strike,
del {
	text-decoration: line-through;
}

pre,
code,
kbd,
samp {
	font-family: Consolas, "Lucida Console", Monaco, monospace;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote {
	font-style: italic;
	padding: 10px;
}

iframe {
	max-width: 100%;
}

hr {
	border: 0;
	margin: 5px 0;
	padding: 0;
	height: 1px;
	display: block;
	background-color: #989898;
}

ul {
	display: block;
	padding: 5px 0;
}

ul li {
	position: relative;
	margin-left: 15px;
}

/* -------------------------------------------------------- */

/*                    GENERALL CLASSES                      */

/* -------------------------------------------------------- */

.clear {
	clear: both;
}

/* -------------------------------------------------------- */

/*                  MARKERED TEXT STYLES                    */

/* -------------------------------------------------------- */

::selection {
	background: #151515;
	color: #FFF;
	opacity: 1;
}

::-moz-selection {
	background: #151515;
	color: #FFF;
	opacity: 1;
}

/* -------------------------------------------------------- */

/*                BASE MEDIAQUERYS MEDIUM                   */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*                 INIT THE FRAMEWORK                       */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*                 GRID BASEMENT CLASSES                    */

/* -------------------------------------------------------- */

.w1 {
	width: 7.33127%;
	margin: 0 0.49603%;
	float: left;
}

.w2 {
	width: 15.6646%;
	margin: 0 0.49603%;
	float: left;
}

.w3 {
	width: 23.99794%;
	margin: 0 0.49603%;
	float: left;
}

.w4 {
	width: 32.33127%;
	margin: 0 0.49603%;
	float: left;
}

.w5 {
	width: 40.6646%;
	margin: 0 0.49603%;
	float: left;
}

.w6 {
	width: 48.99794%;
	margin: 0 0.49603%;
	float: left;
}

.w7 {
	width: 57.33127%;
	margin: 0 0.49603%;
	float: left;
}

.w8 {
	width: 65.6646%;
	margin: 0 0.49603%;
	float: left;
}

.w9 {
	width: 73.99794%;
	margin: 0 0.49603%;
	float: left;
}

.w10 {
	width: 82.33127%;
	margin: 0 0.49603%;
	float: left;
}

.w11 {
	width: 90.6646%;
	margin: 0 0.49603%;
	float: left;
}

.w12 {
	width: 98.99794%;
	margin: 0 0.49603%;
	float: left;
}

.wFull {
	width: 100%;
	float: left;
}

.gridWrap {
	width: 100%;
}

.gridWrap:before,
.gridWrap:after {
	content: "";
	display: table;
}

.gridWrap:after {
	clear: both;
}

/* -------------------------------------------------------- */

/*             HEADER . STYLES OF THE HEADER                */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*             FOOTER . STYLES OF THE FOOTER                */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*         NAVIGATION . STYLES OF THE NAVIGATION            */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*                  INIT THE COMPONENTS                        */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*           SELECTBOX . STYLES OF OWN SELECTBOX            */

/* -------------------------------------------------------- */

.selectbox {
	position: relative;
	width: 100%;
	cursor: pointer;
	margin: 5px 0;
}

.selectbox .selectboxit-btn,
.selectbox.native select {
	display: block;
	width: 100%;
	padding: 6px 6px;
	border: 1px solid #989898;
	text-align: left;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectbox .selectboxit-btn:hover,
.selectbox.native select:hover,
.selectbox .selectboxit-btn:focus,
.selectbox.native select:focus {
	background: #d9d9d9;
}

.selectbox.error .selectboxit-btn,
.selectbox.error .selectbox.native select,
.selectbox.native .selectbox.error select {
	border: 1px solid #C10D00;
}

.selectbox .selectboxit-arrow-container {
	position: absolute;
	right: 15px;
	top: 13px;
	font-weight: bold;
	color: #151515;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.selectbox .selectboxit-arrow-container .selectboxit-default-arrow {
	display: block;
	height: 9px;
	width: 17px;
	background: url("/images/arrow-down-big.svg");
	background-size: 17px auto;
}

.selectbox .selectboxit-open .selectboxit-arrow-container {
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.selectbox .selectboxit-list {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	height: auto;
	min-width: 100%;
	z-index: 500;
	background: #FFF;
	border: 1px solid #989898;
	border-top: none;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectbox .selectboxit-list li {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

.selectbox .selectboxit-list li:after {
	display: none;
}

.selectbox .selectboxit-list li a {
	display: block;
	padding: 2px 5px;
	color: #151515;
}

.selectbox .selectboxit-list .selectboxit-focus {
	background: #d9d9d9;
}

.selectbox.native select {
	padding: 3px 6px;
}

/* -------------------------------------------------------- */

/*           CHECKBOX . STYLES OF OWN CHECKBOX              */

/* -------------------------------------------------------- */

.checkbox,
.radiobox {
	position: relative;
	display: inline-block;
	width: 100%;
}

.checkbox input,
.radiobox input {
	display: none;
}

.checkbox span,
.radiobox span {
	display: block;
	margin-left: 25px;
	min-height: 20px;
	padding-top: 2px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox span:before,
.radiobox span:before {
	display: block;
	position: absolute;
	left: 0;
	top: 4px;
	height: 20px;
	width: 20px;
	border: 1px solid #989898;
	cursor: pointer;
	content: "";
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

.checkbox span:after,
.radiobox span:after {
	display: block;
	position: absolute;
	left: 3px;
	top: 7px;
	height: 14px;
	width: 14px;
	cursor: pointer;
	background: transparent;
	content: "";
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

.checkbox input:checked + span:after,
.radiobox input:checked + span:after {
	background: #989898;
}

.checkbox .error span:before,
.radiobox .error span:before {
	border: 1px solid #C10D00;
}

/* -------------------------------------------------------- */

/*           RADIOBOX . STYLES OF OWN RADIOBOX              */

/* -------------------------------------------------------- */

.radiobox span {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.radiobox span:before {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.radiobox span:after {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

/* Slider */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-prev,
.slick-next {
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	background: transparent;
	z-index: 200;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.slick-prev svg,
.slick-next svg {
	width: 50px;
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.slick-prev svg path,
.slick-prev svg circle,
.slick-prev svg rect,
.slick-prev svg polygon,
.slick-prev svg ellipse,
.slick-prev svg defs,
.slick-prev svg mask,
.slick-next svg path,
.slick-next svg circle,
.slick-next svg rect,
.slick-next svg polygon,
.slick-next svg ellipse,
.slick-next svg defs,
.slick-next svg mask {
	fill: #FFF;
}

.slick-prev:hover,
.slick-next:hover {
	background: none;
}

.slick-prev:hover svg,
.slick-next:hover svg {
	opacity: 0.8;
}

.slick-next {
	left: auto;
	right: 0;
}

.slick-next svg {
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.slick-dots {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 10px;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.slick-dots li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.slick-dots li button {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 5px;
	font-size: 0;
	padding: 0;
	background: #FFF;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	border: none;
}

.slick-dots li button:hover {
	background: #989898;
}

.slick-dots li.slick-active button {
	background: #989898;
}

.slick-dots li:after {
	display: none;
}

/* -------------------------------------------------------- */

/*          ACCORDION . STYLES OF OWN ACCORDION             */

/* -------------------------------------------------------- */

*[data-js=accordion] > a {
	display: block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

*[data-js=accordion] > div {
	display: none;
}

/* -------------------------------------------------------- */

/*           MODALBOX . STYLES OF OWN MODALBOX              */

/* -------------------------------------------------------- */

.modalbox {
	display: none;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
	line-height: 100vh;
	cursor: pointer;
}

.modalbox > div {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	background: #FFF;
	max-width: 95vw;
	max-height: 95vh;
}

/* -------------------------------------------------------- */

/*                  INIT THE MODULES                        */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*              START . STYLES OF STARTPAGE                 */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*                   INIT THE SITES                         */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*              INDEX . STYLES OF STARTPAGE                 */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/* RETINA IMAGES FOR FILTHY RICH PEOPLE WITH OVERPAID DISPLAYS */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*  RETINA . FOR FILTHY RICH PEOPLE WITH OVERPAID DISPLAYS  */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*            PRINT THINGS FOR PRINTER NOOBS                */

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

/*             PRINT . STYLES FOR PRINT DESIGN              */

/* -------------------------------------------------------- */

@media screen and (min-width: 480px) {

.sw1 {
	width: 7.33127%;
	margin: 0 0.49603%;
	float: left;
}

.sw2 {
	width: 15.6646%;
	margin: 0 0.49603%;
	float: left;
}

.sw3 {
	width: 23.99794%;
	margin: 0 0.49603%;
	float: left;
}

.sw4 {
	width: 32.33127%;
	margin: 0 0.49603%;
	float: left;
}

.sw5 {
	width: 40.6646%;
	margin: 0 0.49603%;
	float: left;
}

.sw6 {
	width: 48.99794%;
	margin: 0 0.49603%;
	float: left;
}

.sw7 {
	width: 57.33127%;
	margin: 0 0.49603%;
	float: left;
}

.sw8 {
	width: 65.6646%;
	margin: 0 0.49603%;
	float: left;
}

.sw9 {
	width: 73.99794%;
	margin: 0 0.49603%;
	float: left;
}

.sw10 {
	width: 82.33127%;
	margin: 0 0.49603%;
	float: left;
}

.sw11 {
	width: 90.6646%;
	margin: 0 0.49603%;
	float: left;
}

.sw12 {
	width: 98.99794%;
	margin: 0 0.49603%;
	float: left;
}

.swRight {
	float: right;
}

.swFull {
	width: 100%;
	float: left;
}

.swHidden {
	display: none;
}

.swVisible {
	display: block;
}

.gridWrap {
	width: 100%;
}

.gridWrap:before,
.gridWrap:after {
	content: "";
	display: table;
}

.gridWrap:after {
	clear: both;
}

}

@media screen and (min-width: 768px) {

html body {
	font-size: 0.875rem;
}

html main {
	width: 95%;
	padding: 0;
}

h1,
.h1 {
	font-size: 1.5625rem;
}

h2,
.h2 {
	font-size: 1.4375rem;
}

h3,
.h3 {
	font-size: 1.3125rem;
}

h4,
.h4 {
	font-size: 1.1875rem;
}

h5,
.h5 {
	font-size: 1.0625rem;
}

h6,
.h6 {
	font-size: 0.9375rem;
}

.mw1 {
	width: 7.33127%;
	margin: 0 0.49603%;
	float: left;
}

.mw2 {
	width: 15.6646%;
	margin: 0 0.49603%;
	float: left;
}

.mw3 {
	width: 23.99794%;
	margin: 0 0.49603%;
	float: left;
}

.mw4 {
	width: 32.33127%;
	margin: 0 0.49603%;
	float: left;
}

.mw5 {
	width: 40.6646%;
	margin: 0 0.49603%;
	float: left;
}

.mw6 {
	width: 48.99794%;
	margin: 0 0.49603%;
	float: left;
}

.mw7 {
	width: 57.33127%;
	margin: 0 0.49603%;
	float: left;
}

.mw8 {
	width: 65.6646%;
	margin: 0 0.49603%;
	float: left;
}

.mw9 {
	width: 73.99794%;
	margin: 0 0.49603%;
	float: left;
}

.mw10 {
	width: 82.33127%;
	margin: 0 0.49603%;
	float: left;
}

.mw11 {
	width: 90.6646%;
	margin: 0 0.49603%;
	float: left;
}

.mw12 {
	width: 98.99794%;
	margin: 0 0.49603%;
	float: left;
}

.mwRight {
	float: right;
}

.mwFull {
	width: 100%;
	float: left;
}

.mwHidden {
	display: none;
}

.mwVisible {
	display: block;
}

.gridWrap {
	width: 100%;
}

.gridWrap:before,
.gridWrap:after {
	content: "";
	display: table;
}

.gridWrap:after {
	clear: both;
}

}

@media screen and (min-width: 1000px) {

.lw1 {
	width: 7.33127%;
	margin: 0 0.49603%;
	float: left;
}

.lw2 {
	width: 15.6646%;
	margin: 0 0.49603%;
	float: left;
}

.lw3 {
	width: 23.99794%;
	margin: 0 0.49603%;
	float: left;
}

.lw4 {
	width: 32.33127%;
	margin: 0 0.49603%;
	float: left;
}

.lw5 {
	width: 40.6646%;
	margin: 0 0.49603%;
	float: left;
}

.lw6 {
	width: 48.99794%;
	margin: 0 0.49603%;
	float: left;
}

.lw7 {
	width: 57.33127%;
	margin: 0 0.49603%;
	float: left;
}

.lw8 {
	width: 65.6646%;
	margin: 0 0.49603%;
	float: left;
}

.lw9 {
	width: 73.99794%;
	margin: 0 0.49603%;
	float: left;
}

.lw10 {
	width: 82.33127%;
	margin: 0 0.49603%;
	float: left;
}

.lw11 {
	width: 90.6646%;
	margin: 0 0.49603%;
	float: left;
}

.lw12 {
	width: 98.99794%;
	margin: 0 0.49603%;
	float: left;
}

.lwRight {
	float: right;
}

.lwFull {
	width: 100%;
	float: left;
}

.lwHidden {
	display: none;
}

.lwVisible {
	display: block;
}

.gridWrap {
	width: 100%;
}

.gridWrap:before,
.gridWrap:after {
	content: "";
	display: table;
}

.gridWrap:after {
	clear: both;
}

}

@media print {

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
svg,
blockquote,
main,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	background: transparent !important;
	color: #151515 !important;
	text-shadow: none !important;
	box-shadow: none !important;
	opacity: 1 !important;
}

body {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	line-height: 1.45 !important;
	font-size: 14pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	page-break-after: avoid;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	orphans: 3;
	widows: 3;
}

ul {
	list-style: disc inside;
	padding: 0 1em;
}

ol {
	list-style: decimal inside;
	padding: 0 1em;
}

a,
a:visited {
	color: #151515 !important;
	text-decoration: none;
}

a[href="#"],
a[href="javascript:"] {
	display: none;
}

table {
	margin: 1px;
}

thead {
	display: table-header-group;
}

img,
tr {
	page-break-inside: avoid;
}

.navigation,
iframe {
	display: none !important;
}

}

