/* -------------------------------------------------------- */
/*           RADIOBOX . STYLES OF OWN RADIOBOX              */
/* -------------------------------------------------------- */

.radiobox {
  @extend .checkbox;
  span {
    border-radius: 50%;
    &:before {
      border-radius: 50%;
    }
    &:after {
      border-radius: 50%;
    }
  }

}