html .oldBrowserWarning {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding-top: 25%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    z-index: 9999;
}

.oldBrowserWarning b {
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
}

html main {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}