/* -------------------------------------------------------- */
/*             PRINT . STYLES FOR PRINT DESIGN              */
/* -------------------------------------------------------- */


@media print {

  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, input, svg, blockquote, main, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
    background: transparent !important;
    color: $color-black!important;
    text-shadow: none !important;
    box-shadow: none !important;
    opacity: 1 !important;
  }

  body {
    width:100% !important;
    margin:0 !important;
    padding:0 !important;
    line-height: 1.45!important;
    font-size: 14pt;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }

  p, h1, h2, h3, h4, h5, h6 {
    orphans: 3;
    widows: 3;
  }

  ul {
    list-style: disc inside;
    padding: 0 1em;
  }

  ol {
    list-style: decimal inside;
    padding: 0 1em;
  }

  a, a:visited {
    color: $color-black !important;
    text-decoration: none;
  }

  a[href="#"], a[href="javascript:"] {
    display: none;
  }

  table {
    margin: 1px;
  }

  thead {
    display: table-header-group;
  }

  img,tr {
    page-break-inside: avoid;
  }

  .navigation, iframe{
    display: none!important;
  }


}

@page {
  margin: 10pt;
}
