/* -------------------------------------------------------- */
/*        RESET . JUST DELETE SHITI BROWSER THINGS          */
/* -------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, button, p, a, input, textarea, hr, svg, blockquote, main, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {

  /* ADD THE BASE, DELETE SHITI BROWSER STYLES  */
  background: transparent;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;

  font-size: inherit;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: inherit;

  /* DELETE MOBILE TAP HIGHLIGHING */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-focus-ring-color:  rgba(0,0,0,0);

  /* SET THE RIGHT BORDER BOXES  */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:before, &:after {
    /* SET THE RIGHT BORDER BOXES  */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

}

main, section, aside, footer, nav, header {
  /* Correct `block` display not defined in IE 11.*/
  display: block;
}

html {
  /* SET THE RIGHT FONT SIZE  */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  /* SET THE SMOOTHING FOR OWN FONTS  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  -ms-touch-action: manipulation;
  touch-action: manipulation;
}


/* -------------------------------------------------------- */
/*           UI RESETS - FORMS, CONTROLS, ACTIONS           */
/* -------------------------------------------------------- */

audio, canvas, progress, video {
  /* Correct `inline-block` display not defined in IE 8/9.*/
  display: inline-block;
  /* Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.*/
  vertical-align: baseline;
}

audio:not([controls]) {
  /* Prevent modern browsers from displaying `audio` without controls.*/
  display: none;
  /* Remove excess height in iOS 5 devices.*/
  height: 0;
}

input, button, textarea {
  line-height: normal;
  font-size: inherit;
  color: inherit;
  font-family: inherit;

  /* DELETE MOBILE BROWSER FORM STANDARDS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &[disabled] {
    cursor: default;
  }
  border-radius: 0;
  &:focus, &:active {
    outline: none;
  }
}

select {
  line-height: normal;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

input {
  &[type="reset"],
  &[type="submit"] {
    cursor: pointer;
  }
  &[type="checkbox"],
  &[type="radio"] {
    /* NOW SET THIS TO TRUE TO SHOW CHECKBOXES */
    -webkit-appearance:checkbox;
    box-sizing: border-box;
    padding: 0;
  }
  &[type="number"] {
    -moz-appearance:textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
}

/* Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.*/
template {
  display: none;
}

/* -------------------------------------------------------- */
/*              OTHER RESETS - A, SVG, ELEMENTS             */
/* -------------------------------------------------------- */

/* Remove the gray background color from active links in IE 10.*/
a {
  background: transparent;
  text-decoration: none;
  &:active,
  &:hover {
    outline: 0;
  }
  img {
    border: 0 none;
  }
}

svg:not(:root) {
  /* Correct overflow not hidden in IE 9/10/11.*/
  overflow: hidden;
}

textarea {
  /* NO SCROLLBARS IN IE .*/
  overflow: auto;
  resize: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: square outside;
}

ol {
  list-style: decimal outside;
}

figure {
  img {
    display: block;
    width: 100%;
  }
}